In [1]:
import pandas as pd
from ip_to_geo_1 import ip_to_geo
import json
from util import *

In [2]:
df = pd.read_csv('All_Periods.csv', encoding='utf-8-sig')

In [19]:
group = [[0,0,0,0] for i in range(3)]

In [20]:
group[0][0] = df['Potential1'].value_counts()['High']
group[0][1] = df['Potential1'].value_counts()['Medium']
group[0][2] = df['Potential1'].value_counts()['Low']
group[0][3] = df['Potential1'].value_counts()["None"]
#removing 'Mohamed Aziz Abderrahmen' Low
group[0][2] -=1

In [21]:
group[1][0] = df['Potential2'].value_counts()['High']
group[1][1] = df['Potential2'].value_counts()['Medium']
group[1][2] = df['Potential2'].value_counts()['Low']
group[1][3] = df['Potential2'].value_counts()["None"]
#removing 'Mohamed Aziz Abderrahmen' High
group[1][0] -=1

In [22]:
group[2][0] = df['Potential3'].value_counts()['High']
group[2][1] = df['Potential3'].value_counts()['Medium']
group[2][2] = df['Potential3'].value_counts()['Low']
group[2][3] = df['Potential3'].value_counts()["None"]

In [36]:
group

[[110, 23, 92, 34], [148, 22, 56, 33], [130, 18, 78, 33]]

In [43]:
transition = [[0,0,0,0] for i in range(4)]
transition_2 = [[0,0,0,0] for i in range(4)]
index = {'High': 0,
        'Medium': 1,
        'Low': 2,
        'None': 3}

In [45]:
transition

[[92, 5, 13, 0], [7, 16, 0, 0], [48, 1, 43, 0], [1, 0, 0, 33]]

In [44]:
for i, row in df.iterrows():
    if row['User full name'] == 'Mohamed Aziz Abderrahmen':
        print('found')
        continue
    first = index[row['Potential1']]
    second = index[row['Potential2']]
    transition[first][second] += 1
for i, row in df.iterrows():
    if row['User full name'] == 'Mohamed Aziz Abderrahmen':
        print('found')
        continue
    first = index[row['Potential2']]
    second = index[row['Potential3']]
    transition_2[first][second] += 1

found
found

In [46]:
transition_p = [[],[],[],[]]
for i in range(4):
    transition_p[i] = transition[i]/group[0][i]

In [47]:
transition_p

[array([0.83636364, 0.04545455, 0.11818182, 0.        ]),
 array([0.30434783, 0.69565217, 0.        , 0.        ]),
 array([0.52173913, 0.01086957, 0.4673913 , 0.        ]),
 array([0.02941176, 0.        , 0.        , 0.97058824])]

In [48]:
transition_p2 = [[],[],[],[]]
for i in range(4):
    transition_p2[i] = transition_2[i]/group[1][i]

In [49]:
transition_p2

[array([0.80405405, 0.        , 0.19594595, 0.        ]),
 array([0.09090909, 0.81818182, 0.09090909, 0.        ]),
 array([0.16071429, 0.        , 0.83928571, 0.        ]),
 array([0., 0., 0., 1.])]

In [50]:
output = [[0 for i in range(12)] for j in range(12)]

In [58]:
for i in range(4):
    for j in range(4):
        output[i][j+4] = round(transition_p[i][j], 2)
for i in range(4):
    for j in range(4):
        output[i+4][j+8] = round(transition_p2[i][j], 2)
#manually modifying sum of row to 1
output[0][5] -= 0.01
for i in range(8,12):
    output[i][-1] = 0.5
    output[i][-2] = 0.5

for l in output:
    if sum(l) != 1:
        print(l)

[0, 0, 0, 0, 0, 0, 0, 0, 0.09, 0.82, 0.09, 0.0]

In [59]:
output 
op = ''
for row in output:
    for c in row:
        op += str(c)
        op += ', '

In [60]:
op

'0, 0, 0, 0, 0.84, 0.04, 0.12, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.3, 0.7, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.52, 0.01, 0.47, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.03, 0.0, 0.0, 0.97, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.8, 0.0, 0.2, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.09, 0.82, 0.09, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.16, 0.0, 0.84, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 1.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5, 0.5, '

In [61]:
df.loc[df['Potential1'] == 'High', 'Potential1'] = 'Period-I-High'
df.loc[df['Potential1'] == 'Medium', 'Potential1'] = 'Period-I-Medium'
df.loc[df['Potential1'] == 'Low', 'Potential1'] = 'Period-I-Low'
df.loc[df['Potential1'] == 'None', 'Potential1'] = 'Period-I-None'

df.loc[df['Potential2'] == 'High', 'Potential2'] = 'Period-II-High'
df.loc[df['Potential2'] == 'Medium', 'Potential2'] = 'Period-II-Medium'
df.loc[df['Potential2'] == 'Low', 'Potential2'] = 'Period-II-Low'
df.loc[df['Potential2'] == 'None', 'Potential2'] = 'Period-II-None'

df.loc[df['Potential3'] == 'High', 'Potential3'] = 'Period-III-High'
df.loc[df['Potential3'] == 'Medium', 'Potential3'] = 'Period-III-Medium'
df.loc[df['Potential3'] == 'Low', 'Potential3'] = 'Period-III-Low'
df.loc[df['Potential3'] == 'None', 'Potential3'] = 'Period-III-None'

In [62]:
df

,User full name,Potential1,Potential2,Potential3
0,Abdullah Al Jawhi,Period-I-None,Period-II-None,Period-III-None
1,Achraf Jday,Period-I-High,Period-II-High,Period-III-High
2,Adan Bougherara,Period-I-Medium,Period-II-Medium,Period-III-Medium
3,Adrien Bourmault,Period-I-Medium,Period-II-High,Period-III-High
4,Alessia Loi,Period-I-Low,Period-II-Low,Period-III-Low
...,...,...,...,...
255,Youssef Alaa Elsayye Abdalaziz,Period-I-Medium,Period-II-Medium,Period-III-Medium
256,Zidane Bourekh,Period-I-High,Period-II-High,Period-III-High
257,Zin Maafa,Period-I-High,Period-II-High,Period-III-High
258,Ziyou Li,Period-I-High,Period-II-High,Period-III-Low
259,Zoé Dumoulin,Period-I-Low,Period-II-Low,Period-III-Low

In [63]:
df.to_csv('./period_with_clusters_F20.csv', mode = 'w', index = False, header = True, encoding='utf-8-sig')