In [1]:
import pandas as pd
from ip_to_geo_1 import ip_to_geo
import json
from util import *

In [2]:
df = pd.read_csv('All_Periods_distance.csv', encoding='utf-8-sig')

In [4]:
group = [[0,0,0,0] for i in range(3)]

In [5]:
group[0][0] = df['Dedication1'].value_counts()['High']
group[0][1] = df['Dedication1'].value_counts()['Medium']
group[0][2] = df['Dedication1'].value_counts()['Low']
group[0][3] = df['Dedication1'].value_counts()["None"]

In [6]:
group[1][0] = df['Dedication2'].value_counts()['High']
group[1][1] = df['Dedication2'].value_counts()['Medium']
group[1][2] = df['Dedication2'].value_counts()['Low']
group[1][3] = df['Dedication2'].value_counts()["None"]

In [7]:
group[2][0] = df['Dedication3'].value_counts()['High']
group[2][1] = df['Dedication3'].value_counts()['Medium']
group[2][2] = df['Dedication3'].value_counts()['Low']
group[2][3] = df['Dedication3'].value_counts()["None"]

In [9]:
group

[[21, 114, 79, 34], [20, 142, 53, 33], [15, 128, 71, 34]]

In [8]:
transition = [[0,0,0,0] for i in range(4)]
transition_2 = [[0,0,0,0] for i in range(4)]
index = {'High': 0,
        'Medium': 1,
        'Low': 2,
        'None': 3}

In [10]:
for i, row in df.iterrows():
    first = index[row['Dedication1']]
    second = index[row['Dedication2']]
    transition[first][second] += 1
for i, row in df.iterrows():
    first = index[row['Dedication2']]
    second = index[row['Dedication3']]
    transition_2[first][second] += 1

In [11]:
transition

[[14, 7, 0, 0], [6, 95, 13, 0], [0, 39, 40, 0], [0, 1, 0, 33]]

In [12]:
transition_2

[[15, 2, 2, 1], [0, 117, 25, 0], [0, 9, 44, 0], [0, 0, 0, 33]]

In [13]:
transition_p = [[],[],[],[]]
for i in range(4):
    transition_p[i] = transition[i]/group[0][i]

In [14]:
transition_p

[array([0.66666667, 0.33333333, 0.        , 0.        ]),
 array([0.05263158, 0.83333333, 0.11403509, 0.        ]),
 array([0.        , 0.49367089, 0.50632911, 0.        ]),
 array([0.        , 0.02941176, 0.        , 0.97058824])]

In [15]:
transition_p2 = [[],[],[],[]]
for i in range(4):
    transition_p2[i] = transition_2[i]/group[1][i]

In [16]:
transition_p2

[array([0.75, 0.1 , 0.1 , 0.05]),
 array([0.        , 0.82394366, 0.17605634, 0.        ]),
 array([0.        , 0.16981132, 0.83018868, 0.        ]),
 array([0., 0., 0., 1.])]

In [17]:
output = [[0 for i in range(12)] for j in range(12)]

In [24]:
for i in range(4):
    for j in range(4):
        output[i][j+4] = round(transition_p[i][j], 2)
for i in range(4):
    for j in range(4):
        output[i+4][j+8] = round(transition_p2[i][j], 2)
#manually modifying sum of row to 1
output[1][7] += 0.01
for i in range(8,12):
    output[i][-1] = 0.5
    output[i][-2] = 0.5

for l in output:
    if sum(l) != 1:
        print(l)

In [25]:
output 
op = ''
for row in output:
    for c in row:
        op += str(c)
        op += ', '

In [26]:
op

'0, 0, 0, 0, 0.67, 0.33, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.05, 0.83, 0.11, 0.01, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.49, 0.51, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.03, 0.0, 0.97, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.75, 0.1, 0.1, 0.05, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.82, 0.18, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.17, 0.83, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 1.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5, 0.5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.5, 0.5, '

In [28]:
df.loc[df['Dedication1'] == 'High', 'Dedication1'] = 'Period-I-High'
df.loc[df['Dedication1'] == 'Medium', 'Dedication1'] = 'Period-I-Medium'
df.loc[df['Dedication1'] == 'Low', 'Dedication1'] = 'Period-I-Low'
df.loc[df['Dedication1'] == 'None', 'Dedication1'] = 'Period-I-None'

df.loc[df['Dedication2'] == 'High', 'Dedication2'] = 'Period-II-High'
df.loc[df['Dedication2'] == 'Medium', 'Dedication2'] = 'Period-II-Medium'
df.loc[df['Dedication2'] == 'Low', 'Dedication2'] = 'Period-II-Low'
df.loc[df['Dedication2'] == 'None', 'Dedication2'] = 'Period-II-None'

df.loc[df['Dedication3'] == 'High', 'Dedication3'] = 'Period-III-High'
df.loc[df['Dedication3'] == 'Medium', 'Dedication3'] = 'Period-III-Medium'
df.loc[df['Dedication3'] == 'Low', 'Dedication3'] = 'Period-III-Low'
df.loc[df['Dedication3'] == 'None', 'Dedication3'] = 'Period-III-None'

In [29]:
df

        User full name      Dedication1       Dedication2        Dedication3
0    Abdullah Al Jawhi    Period-I-None    Period-II-None    Period-III-None
1          Achraf Jday  Period-I-Medium  Period-II-Medium  Period-III-Medium
2      Adan Bougherara    Period-I-High    Period-II-High    Period-III-High
3     Adrien Bourmault    Period-I-High  Period-II-Medium  Period-III-Medium
4          Alessia Loi     Period-I-Low     Period-II-Low     Period-III-Low
..                 ...              ...               ...                ...
243  Youssef Abdalaziz    Period-I-None    Period-II-None    Period-III-None
244     Zidane Bourekh  Period-I-Medium  Period-II-Medium  Period-III-Medium
245          Zin Maafa  Period-I-Medium  Period-II-Medium  Period-III-Medium
246           Ziyou Li  Period-I-Medium  Period-II-Medium     Period-III-Low
247       Zoé Dumoulin     Period-I-Low     Period-II-Low     Period-III-Low

[248 rows x 4 columns]

In [31]:
df.to_csv('./period_distance_with_clusters_F20.csv', mode = 'w', index = False, header = True, encoding='utf-8-sig')