In [1]:
import pandas as pd
from ip_to_geo_1 import ip_to_geo
import json
from util import *

In [2]:
df = pd.read_csv('change_in_geolocation_F20.csv', encoding='utf-8-sig')

In [29]:
group = [[0,0,0,0] for i in range(3)]

In [31]:
group[0][0] = df['Assignment 1-4'].value_counts()[0]
group[0][1] = df['Assignment 1-4'].value_counts()[1]
group[0][2] = df['Assignment 1-4'].value_counts()[2]
group[0][3] = df['Assignment 1-4'].value_counts()[3]

In [32]:
group[1][0] = df['Assignment 5-8'].value_counts()[0]
group[1][1] = df['Assignment 5-8'].value_counts()[1]
group[1][2] = df['Assignment 5-8'].value_counts()[2]
group[1][3] = df['Assignment 5-8'].value_counts()[3]
group[1][3] += df['Assignment 5-8'].value_counts()[4]

In [33]:
group[2][0] = df['Assignment 9-11'].value_counts()[0]
group[2][1] = df['Assignment 9-11'].value_counts()[1]
group[2][2] = df['Assignment 9-11'].value_counts()[2]
group[2][3] = df['Assignment 9-11'].value_counts()[3]
group[2][3] += df['Assignment 9-11'].value_counts()[4]

In [42]:
group

[[159, 34, 33, 3], [136, 46, 36, 11], [164, 43, 18, 4]]

In [43]:
transition = [[0,0,0,0] for i in range(4)]

In [44]:
for i, row in df.iterrows():
    first = int(row['Assignment 1-4'])
    second = int(row['Assignment 5-8'])
    if second == 4:
        second-=1
    transition[first][second] += 1

In [45]:
transition

[[114, 23, 19, 3], [13, 9, 7, 5], [7, 14, 9, 3], [2, 0, 1, 0]]

In [48]:
transition_p = [[],[],[],[]]
for i in range(4):
    transition_p[i] = transition[i]/group[0][i]

In [50]:
transition_p

[array([0.71698113, 0.14465409, 0.11949686, 0.01886792]),
 array([0.38235294, 0.26470588, 0.20588235, 0.14705882]),
 array([0.21212121, 0.42424242, 0.27272727, 0.09090909]),
 array([0.66666667, 0.        , 0.33333333, 0.        ])]

In [53]:
transition_2 = [[0,0,0,0] for i in range(4)]
for i, row in df.iterrows():
    first = int(row['Assignment 5-8'])
    second = int(row['Assignment 9-11'])
    if first == 4:
        first-=1
    if second == 4:
        second-=1
    transition_2[first][second] += 1

In [55]:
transition_p2 = [[],[],[],[]]
for i in range(4):
    transition_p2[i] = transition_2[i]/group[1][i]

In [56]:
transition_p2

[array([0.84558824, 0.125     , 0.02941176, 0.        ]),
 array([0.52173913, 0.23913043, 0.19565217, 0.04347826]),
 array([0.69444444, 0.22222222, 0.05555556, 0.02777778]),
 array([0.        , 0.63636364, 0.27272727, 0.09090909])]

In [64]:
output = [[0 for i in range(12)] for j in range(12)]

In [67]:
for i in range(4):
    for j in range(4):
        output[i][j+4] = round(transition_p[i][j], 2)
for i in range(4):
    for j in range(4):
        output[i+4][j+8] = round(transition_p2[i][j], 2)

In [68]:
output

[[0, 0, 0, 0, 0.72, 0.14, 0.12, 0.02, 0, 0, 0, 0],
 [0, 0, 0, 0, 0.38, 0.26, 0.21, 0.15, 0, 0, 0, 0],
 [0, 0, 0, 0, 0.21, 0.42, 0.27, 0.09, 0, 0, 0, 0],
 [0, 0, 0, 0, 0.67, 0.0, 0.33, 0.0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0.85, 0.12, 0.03, 0.0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0.52, 0.24, 0.2, 0.04],
 [0, 0, 0, 0, 0, 0, 0, 0, 0.69, 0.22, 0.06, 0.03],
 [0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.64, 0.27, 0.09],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [70]:
op = ''
for row in output:
    for c in row:
        op += str(c)
        op += ', '

In [71]:
op

'0, 0, 0, 0, 0.72, 0.14, 0.12, 0.02, 0, 0, 0, 0, 0, 0, 0, 0, 0.38, 0.26, 0.21, 0.15, 0, 0, 0, 0, 0, 0, 0, 0, 0.21, 0.42, 0.27, 0.09, 0, 0, 0, 0, 0, 0, 0, 0, 0.67, 0.0, 0.33, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.85, 0.12, 0.03, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.52, 0.24, 0.2, 0.04, 0, 0, 0, 0, 0, 0, 0, 0, 0.69, 0.22, 0.06, 0.03, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.64, 0.27, 0.09, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '

In [81]:
df.loc[df['Assignment 1-4'] == 0, 'Assignment 1-4'] = 'Period-I-0'
df.loc[df['Assignment 1-4'] == 1, 'Assignment 1-4'] = 'Period-I-1'
df.loc[df['Assignment 1-4'] == 2, 'Assignment 1-4'] = 'Period-I-2'
df.loc[df['Assignment 1-4'] == 3, 'Assignment 1-4'] = 'Period-I-3'
df.loc[df['Assignment 1-4'] == 4, 'Assignment 1-4'] = 'Period-I-3'

df.loc[df['Assignment 5-8'] == 0, 'Assignment 5-8'] = 'Period-II-0'
df.loc[df['Assignment 5-8'] == 1, 'Assignment 5-8'] = 'Period-II-1'
df.loc[df['Assignment 5-8'] == 2, 'Assignment 5-8'] = 'Period-II-2'
df.loc[df['Assignment 5-8'] == 3, 'Assignment 5-8'] = 'Period-II-3'
df.loc[df['Assignment 5-8'] == 4, 'Assignment 5-8'] = 'Period-II-3'

df.loc[df['Assignment 9-11'] == 0, 'Assignment 9-11'] = 'Period-III-0'
df.loc[df['Assignment 9-11'] == 1, 'Assignment 9-11'] = 'Period-III-1'
df.loc[df['Assignment 9-11'] == 2, 'Assignment 9-11'] = 'Period-III-2'
df.loc[df['Assignment 9-11'] == 3, 'Assignment 9-11'] = 'Period-III-3'
df.loc[df['Assignment 9-11'] == 4, 'Assignment 9-11'] = 'Period-III-3'

In [83]:
df

             User full name Assignment 1-4 Assignment 5-8 Assignment 9-11
0    Mohamed Akram Djouahra     Period-I-0    Period-II-1    Period-III-0
1            Loann Vanrycke     Period-I-0    Period-II-2    Period-III-3
2             Loubna Lifsal     Period-I-1    Period-II-1    Period-III-0
3               Sarah Mehdi     Period-I-2    Period-II-1    Period-III-0
4              Mouad Kassab     Period-I-1    Period-II-0    Period-III-1
..                      ...            ...            ...             ...
224           Dimitri Komen     Period-I-2    Period-II-3    Period-III-1
225             Simon Kwonn     Period-I-1    Period-II-0    Period-III-1
226       Melissa Cherfaoui     Period-I-0    Period-II-0    Period-III-1
227             Hakim Saber     Period-I-0    Period-II-0    Period-III-0
228            Ruhma Khalid     Period-I-0    Period-II-1    Period-III-2

[229 rows x 4 columns]

In [85]:
df.to_csv('./period_F20.csv', mode = 'w', index = False, header = True, encoding='utf-8-sig')