In [1]:
import pandas as pd
from ip_to_geo_1 import ip_to_geo
import json
from util import *

In [2]:
df1 = pd.read_csv('./distance/period1.csv', encoding='utf-8-sig')
df2 = pd.read_csv('./distance/period2.csv', encoding='utf-8-sig')
df3 = pd.read_csv('./distance/period3.csv', encoding='utf-8-sig')

In [3]:
df1.head()

     User full name      Distance
0       Achraf Jday     13.443166
1   Adan Bougherara     41.929787
2  Adrien Bourmault  14813.696327
3       Alessia Loi      0.000000
4        Alex Chitu     53.303679

In [7]:
df1 = df1.rename(columns = {'Distance': 'Potential1'})
df2 = df2.rename(columns = {'Distance': 'Potential2'})
df3 = df3.rename(columns = {'Distance': 'Potential3'})

In [9]:
df1.head()

     User full name    Potential1
0       Achraf Jday     13.443166
1   Adan Bougherara     41.929787
2  Adrien Bourmault  14813.696327
3       Alessia Loi      0.000000
4        Alex Chitu     53.303679

In [11]:
df12 = pd.merge(df1, df2, on = 'User full name')

In [12]:
df = pd.merge(df12, df3, on = 'User full name')

In [13]:
df.head()

     User full name    Potential1  Potential2  Potential3
0       Achraf Jday     13.443166    0.000000   32.118510
1   Adan Bougherara     41.929787   76.905513    3.430781
2  Adrien Bourmault  14813.696327  368.859366   72.162396
3       Alessia Loi      0.000000    0.000000    0.000000
4        Alex Chitu     53.303679   79.955519   79.955519

In [24]:
df.loc[df['Potential1'] > 500, 'Period1'] = 'Period-I-Most'
df.loc[(df['Potential1'] > 50) & (df['Potential1'] <= 500), 'Period1'] = 'Period-I-Moderate'
df.loc[(df['Potential1'] > 0) & (df['Potential1'] <= 50), 'Period1'] = 'Period-I-Least'
df.loc[df['Potential1'] == 0, 'Period1'] = 'Period-I-None'

df.loc[df['Potential2'] > 500, 'Period2'] = 'Period-II-Most'
df.loc[(df['Potential2'] > 50) & (df['Potential2'] <= 500), 'Period2'] = 'Period-II-Moderate'
df.loc[(df['Potential2'] > 0) & (df['Potential2'] <= 50), 'Period2'] = 'Period-II-Least'
df.loc[df['Potential2'] == 0, 'Period2'] = 'Period-II-None'

df.loc[df['Potential3'] > 500, 'Period3'] = 'Period-III-Most'
df.loc[(df['Potential3'] > 50) & (df['Potential3'] <= 500), 'Period3'] = 'Period-III-Moderate'
df.loc[(df['Potential3'] > 0) & (df['Potential3'] <= 50), 'Period3'] = 'Period-III-Least'
df.loc[df['Potential3'] == 0, 'Period3'] = 'Period-III-None'

In [29]:
df = df.drop(columns=['Potential1', 'Potential2', 'Potential3'])

In [30]:
df

,User full name,Period1,Period2,Period3
0,Achraf Jday,Period-I-Least,Period-II-None,Period-III-Least
1,Adan Bougherara,Period-I-Least,Period-II-Moderate,Period-III-Least
2,Adrien Bourmault,Period-I-Most,Period-II-Moderate,Period-III-Moderate
3,Alessia Loi,Period-I-None,Period-II-None,Period-III-None
4,Alex Chitu,Period-I-Moderate,Period-II-Moderate,Period-III-Moderate
...,...,...,...,...
216,Yossef Abitbol,Period-I-Least,Period-II-Most,Period-III-Most
217,Zidane Bourekh,Period-I-Least,Period-II-Least,Period-III-None
218,Zin Maafa,Period-I-Most,Period-II-None,Period-III-Moderate
219,Ziyou Li,Period-I-Least,Period-II-Moderate,Period-III-Least
220,Zoé Dumoulin,Period-I-Most,Period-II-Most,Period-III-Most

In [31]:
df.to_csv('./period_distance_F20.csv', mode = 'w', index = False, header = True, encoding='utf-8-sig')

In [32]:
group = [[0,0,0,0] for i in range(3)]

In [33]:
group[0][0] = df['Period1'].value_counts()['Period-I-Most']
group[0][1] = df['Period1'].value_counts()['Period-I-Moderate']
group[0][2] = df['Period1'].value_counts()['Period-I-Least']
group[0][3] = df['Period1'].value_counts()['Period-I-None']

In [34]:
group[1][0] = df['Period2'].value_counts()['Period-II-Most']
group[1][1] = df['Period2'].value_counts()['Period-II-Moderate']
group[1][2] = df['Period2'].value_counts()['Period-II-Least']
group[1][3] = df['Period2'].value_counts()['Period-II-None']

group[2][0] = df['Period3'].value_counts()['Period-III-Most']
group[2][1] = df['Period3'].value_counts()['Period-III-Moderate']
group[2][2] = df['Period3'].value_counts()['Period-III-Least']
group[2][3] = df['Period3'].value_counts()['Period-III-None']

In [35]:
group

[[34, 61, 85, 41], [39, 67, 77, 38], [49, 56, 52, 64]]

In [38]:
transition = [[0,0,0,0] for i in range(4)]
transition_2 = [[0,0,0,0] for i in range(4)]
index = {'Period-I-Most': 0,
        'Period-I-Moderate': 1,
        'Period-I-Least': 2,
        'Period-I-None': 3,
        'Period-II-Most': 0,
        'Period-II-Moderate': 1,
        'Period-II-Least': 2,
        'Period-II-None': 3,
        'Period-III-Most': 0,
        'Period-III-Moderate': 1,
        'Period-III-Least': 2,
        'Period-III-None': 3}

In [39]:
for i, row in df.iterrows():
    first = index[row['Period1']]
    second = index[row['Period2']]
    transition[first][second] += 1
for i, row in df.iterrows():
    first = index[row['Period2']]
    second = index[row['Period3']]
    transition_2[first][second] += 1

In [40]:
transition

[[18, 8, 6, 2], [6, 37, 11, 7], [10, 16, 45, 14], [5, 6, 15, 15]]

In [41]:
transition_p = [[],[],[],[]]
for i in range(4):
    transition_p[i] = transition[i]/group[0][i]

In [42]:
transition_p

[array([0.52941176, 0.23529412, 0.17647059, 0.05882353]),
 array([0.09836066, 0.60655738, 0.18032787, 0.1147541 ]),
 array([0.11764706, 0.18823529, 0.52941176, 0.16470588]),
 array([0.12195122, 0.14634146, 0.36585366, 0.36585366])]

In [43]:
transition_p2 = [[],[],[],[]]
for i in range(4):
    transition_p2[i] = transition_2[i]/group[1][i]

In [44]:
transition_p2

[array([0.69230769, 0.1025641 , 0.1025641 , 0.1025641 ]),
 array([0.10447761, 0.52238806, 0.20895522, 0.1641791 ]),
 array([0.11688312, 0.16883117, 0.31168831, 0.4025974 ]),
 array([0.15789474, 0.10526316, 0.26315789, 0.47368421])]

In [46]:
output = [[0 for i in range(12)] for j in range(12)]

In [57]:
for i in range(4):
    for j in range(4):
        output[i][j+4] = round(transition_p[i][j], 2)
for i in range(4):
    for j in range(4):
        output[i+4][j+8] = round(transition_p2[i][j], 2)
#manually modifying sum of row to 1
output[0][5] -= 0.01
output[3][5] -= 0.01
output[4][8] += 0.01
output[5][8] += 0.01
for i in range(8,12):
    output[i][-1] = 1
for l in output:
    if sum(l) != 1:
        print(l)

[0, 0, 0, 0, 0.1, 0.61, 0.18, 0.11, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0.7, 0.1, 0.1, 0.1]

In [58]:
output 
op = ''
for row in output:
    for c in row:
        op += str(c)
        op += ', '

In [59]:
op

'0, 0, 0, 0, 0.53, 0.22999999999999998, 0.18, 0.06, 0, 0, 0, 0, 0, 0, 0, 0, 0.1, 0.61, 0.18, 0.11, 0, 0, 0, 0, 0, 0, 0, 0, 0.12, 0.19, 0.53, 0.16, 0, 0, 0, 0, 0, 0, 0, 0, 0.12, 0.13999999999999999, 0.37, 0.37, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.7, 0.1, 0.1, 0.1, 0, 0, 0, 0, 0, 0, 0, 0, 0.11, 0.52, 0.21, 0.16, 0, 0, 0, 0, 0, 0, 0, 0, 0.12, 0.17, 0.31, 0.4, 0, 0, 0, 0, 0, 0, 0, 0, 0.16, 0.11, 0.26, 0.47, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, '